* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: whitesmoke;
}

/* Header */
header {
  background: gray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
header h1 {
  font-size: 1.8rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: 0.3s;
}
nav a:hover {
  color: #ffe0ec;
}

/* Products Section */
.products {
  background-color: #fff0f6;
  padding: 70px 10%;
  text-align: center;
}

.products h2 {
  color: black;
  margin-bottom: 40px;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card h3 {
  color: #000;
  margin: 10px 0 5px;
}

.card p {
  color: #555;
  margin-bottom: 15px;
}

/* Footer */
footer {
  background: #130000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  nav {
    margin-top: 10px;
  }
  .products {
    padding: 50px 5%;
  }
}
